<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nathen Watters | About</title>
</head>
<body>
    {{ template "header_links" }}
    <h1>About Me:</h1>
    <hr>
    <h2>Welcome all, to the personal website of Nathen Watters!</h2>
    <p>
        I have experienced the full gambit of the tech. community, but have since found a nice little niche where I do development work
        for the sake of creating better experiences for the Automation Engineer and Manual Tester.
    </p>
</body>
</html>