<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nathen Watters | Contact Confirmation</title>
</head>
<body>
    {{ template "header_links" }}
    <h1>Confirmation</h1>
    <p>Your message has been sent!</p>
</body>
</html>